
.topHeaderRow{
    background-color: black;
    text-align:right;
    display: block;
    padding: .5em;
    height: 13%;
}
#thr{
    list-style:none;
    display:inline-block;
}
header{
    background-color: #be4949;
    height: 250px;
}
.bottomHeader{
    display: grid;
    grid-template-columns: 205px 3fr 1fr;
}
.logo{
    width:200px;
    height:200px;
    object-fit: contain;
    /*filter: invert(100%);*/
}
.name{
    padding: 35px 0;
    font-family: 'Staatliches', cursive;
    letter-spacing: 5px;
    font-size: xx-large;
    color: white;
    
}
 div > h2 > p{
    margin-top: 0px;
    font-size: initial;
    letter-spacing: 6px;
     
}
.panel{
    font-family: 'Staatliches', cursive;
}
.submitForm{
    padding: 90px 0;
    float: left;
    
}



    




