.topHeaderRow{
    background-color: black;
    text-align:right;
    /*display: block;*/
    padding: .5em;
    height: 13%;
}
#thr{
    list-style:none;
    display:inline-block;
}
header{
    background-color: #be4949;
    height: 250px;
    
}
main{
    width: 100%;
}
footer{
    width: 100%;
    background-color: black;
    color: white;

}
.bottomHeader{
    display: grid;
    grid-template-columns: 205px 3fr 1fr;
}
.logo{
    width:200px;
    height:200px;
    object-fit: contain;
}
.name{
    padding: 35px 0;
    font-family: 'Staatliches', cursive;
    letter-spacing: 5px;
    font-size: xx-large;
    color: white;
    
}
 div > h2 > p{
    margin-top: 0px;
    font-size: initial;
    letter-spacing: 6px;
     
}
.panel{
    font-family: 'Staatliches', cursive;
}
input[type=text]{
    width: 20em;  
    height: 2em;
    border-color: #772a2a;
}
.submitForm{
    padding: 90px 0;
    float: none;
    
}
button{
    padding: 6.5px;
    border-color: #772a2a;
    background-color: lightgray;
}
button:hover{
    background-color: darkgray;
}




    




